<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Daily Updates</title>
        <meta name="description" content=" updates you daily with whats happening around you">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/base.css">
    </head>
    <body>
        
        <h1>Welcome to Daily Updates</h1>
        <p>Your daily source of news and updates.</p>

        
    </body>
</html>
